.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

.companies__item {
  margin-right: 30px;
  margin-bottom: 30px;
  min-width: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    min-width: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    min-width: calc((100% - 180px) / 6);
  }
}

.companies__link {
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.companies__icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .companies__link:hover &,
  .companies__link:focus & {
    fill: var(--accent-color);
  }
}
