:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --footer-background-color: #2f303a;
  --features-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
}

/*цвет заголовков #212121 */

/*цвет основного текста #757575 */

/*голубой #2196F3 */

/*белый #ffffff */

/*цвет текста в футере rgba(255, 255, 255, 0.6); */

/*цвет фона секции и футера  #2F303A */

/*цвет фона секции #E5E5E5 */

/*цвет фона секции #F5F4FA */
